<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @posts.reverse.each do |post|  %>
   <tr>
	<td><%= link_to post.title, post %></td>
	<td><%= time_ago_in_words(post.created_at) %> Atras</strong><br />
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Destruir', post, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
	<tr>
	<td><%= post.body %></td>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo post', new_post_path %>
