<%= form_for(@your_scaffold) do |f| %>
  <% if @your_scaffold.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@your_scaffold.errors.count, "error") %> prohibited this your_scaffold from being saved:</h2>

      <ul>
      <% @your_scaffold.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
