<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @your_scaffold.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @your_scaffold.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @your_scaffold.image %>
</p>

<%= link_to 'Edit', edit_your_scaffold_path(@your_scaffold) %> |
<%= link_to 'Back', your_scaffolds_path %>
